<html data-theme="light">
	<head>
		<title>Go HTMX ToDo</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<script src="https://unpkg.com/htmx.org@1.9.4"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="flex justify-center">
		<main class="max-w-screen-sm w-full m-3">
			<h1 class="text-4xl font-bold">Go HTMX ToDo</h1>
			<div
				id="container"
				class="flex justify-center"
				hx-get="/home"
				hx-target="#container"
				hx-trigger="load"
			></div>
		</main>
	</body>
</html>
